.App {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* margin-top: 100px;
  margin-left: 300px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px;
}

.table-bordered {
  margin-bottom: 10px;
}

.table-bordered td,
.table-bordered th,
.table-bordered tr {
  border: 2px solid black;
}
